body {
  padding: 0px;
  font: 1em Helvetica Neue, Helvetica, Arial, sans-serif;
}

* {box-sizing: border-box;}

p {
  margin: 0 0 1em 0;
}
.wrapper {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  border: 5px solid rgb(111,41,97);
  border-radius: .5em;
  padding: 0px;
}

.headerContent {
  background-color: red;
  border: 5px solid darkred;
  border-radius: .5em;
  width: 100%;
  height: 100px;
}


.leftPaneContent {
  background-color: gray;
  border: 5px solid darkgreen;
  border-radius: .5em;
  /* width: 20%; */
  flex: 1;
  min-height: 100vh;
}

.rightPaneContent {
  background-color: lightgreen;
  border: 5px solid darkgreen;
  border-radius: .5em;
  /* width: 80%; */
  flex: 2;
  min-height: 100vh;
}

.footerContent {
  background-color: lightblue;
  border: 5px solid blue;
  border-radius: .5em;

  width: 100%;
  height: 100px;
  margin: 0 0 5px 0;
}
