.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.hrBlack {
  display: block; height: 1px;
  border: 0; border-top: 1px solid #fff;
  margin: 1em 0; padding: 0;
}


.TopLeftCorner{
  position:absolute;
  top:0;
  left:0;
}

.TopCorner{
  position:absolute;
  top:0;
  right:0;
}

.ButtonBounds{
  marginLeft: '1rem';
  marginRight: '1rem';
  marginTop: '1rem';
  marginBottom: '1rem';
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
